<h1>CONTACT US</h1>

<div class="row">
  <div class="form-group col-xs-6">
    <form>
      <label for="contact-name">Your name:</label>
      <input
        id="contact-name"
        type="text"
        class="form-control">

      <label for="contact-question">Your question:</label>
      <textarea
        id="contact-question"
        class="form-control">
      </textarea>

      <button type="button" class="form-control btn btn-primary">
        Contact Us
      </button>
    </form>
  </div>

  <div class="form-group col-xs-6">
    <table class="table table-striped">
      <tr>
        <td>STAFF</td>
        <td>EMAIL</td>
        <td>NUMBERS</td>
      </tr>
      <tr>
        <td>conan</td>
        <td>conan@email.com</td>
        <td>4089119111</td>
      </tr>
      <tr>
        <td>annie</td>
        <td>annie@email.com</td>
        <td>4089119111</td>
      </tr>
    </table>
  </div>
</div>
