<div>
  <button class="delete-card-item hidden btn-danger btn-xs">X</button>
  <p><strong>Title:</strong> <%= card.escape("title") %></p>
  <p><strong>Desc:</strong> <%= card.escape("description") %></p>
  <p><strong>ORD:</strong> <%= card.escape("ord") %></p>
</div>
