<button class="delete-card-item btn-danger btn-xs">X</button>
<span><strong>Title:</strong> <%= card.escape("title") %></span>
<span><strong>Desc:</strong> <%= card.escape("description") %></span>
<span><strong>Priority:</strong> <%= card.escape("ord") %></span>
