<div class="row">
  <div class="col-xs-6">
    <h1><%= @user.username %></h1>
    <%= image_tag("guest.png", class: "image-responsive", size: "100x100") %>
  </div>

  <div class="col-xs-6">
    <h1>PROFILE</h1>
  </div>
</div>
