* {
  list-style-type: none;
}

.board {
  border: solid 2px black;
  height: 150px;
  margin: 1px;
  overflow: scroll;
}

.hover {
  background-color: yellow;
}

.cardHover {
  background-color: rgb(137, 137, 202);
}

.hidden {
  visibility: hidden;
}

.list-item {
  margin: 2px;
  border: solid 2px black;
  overflow: scroll;
}

.cards-list {
  width: 100%;
}

.card-item {
  background: rgb(219, 207, 207);
  border: solid 2px black;
  overflow: hidden;
  width: 100%;
}
